@import '@assets/styles/global';

.wrapper {
  width: 100%;
  background: $blue;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 247px;

  .guidanceTextContent {
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: white;
    h3 {
      font-size: 32px;
      line-height: 42px;
    }
  }
}