:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body::-webkit-scrollbar {
  width: 0;
}

* {
  box-sizing: border-box;
  margin-block-start: 0em;
  margin-block-end: 0em;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
}

button, input {
  outline: none;
  border: none;
}

#root {
  width: 100%;
  min-height: 100vh;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 0px auto -webkit-focus-ring-color;
}

.width-1274px {
  max-width: 1274px;
  width: 1274px;
  margin: 0 auto;
}

.width-1435px {
  max-width: 1435px;
  width: 1435px;
  margin: 0 auto;
}

@media (max-width: 1334px) {
  .width-1274px {
    max-width: 100%;
    width: 100%;
    padding: 0 30px;
  }
}

@media (max-width: 1495px) {
  .width-1435px {
    max-width: 100%;
    width: 100%;
    padding: 0 30px;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
