@import "@assets/styles/global";

.wrapper {
  width: 100%;
  height: 105px;
  display: flex;
  align-items: center;
  gap: 20px;

  padding-left: 40px;
  background: $white_2;
  border-radius: 30px;

  cursor: pointer;

  &:hover {
    opacity: .7;
    transition: .3s;
  }

  .text {
    font-size: 20px;
    color: $black_2;
  }
}