.wrapper {
  display: flex;
  flex-direction: column;
  gap: 100px;
  width: 100%;

  .content {
    display: flex;
    flex-direction: column;
    gap: 50px;

    .title {
      font-weight: 500;
      font-size: 32px;
    }
  }
}