@import "@assets/styles/global";

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;

  .title {
    font-size: 32px;
    line-height: 42px;
    color: $black;
  }

  .listInstruction {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    grid-template-areas:
    "top top"
    "left right"
    "left right2";

    .instructionBlock {
      padding: 40px;
      display: flex;
      flex-direction: column;
      gap: 15px;
      background: $white_2;
      border-radius: 50px;
      min-height: 331px;
      width: 100%;

      &Title {
        font-size: 32px;
        line-height: 42px;
        color: $black;
        max-width: 622px;
      }

      &Description {
        color: rgba(23, 23, 27, 0.7);
        font-size: 24px;
        max-width: 622px;
      }
    }

    .instructionBlock:first-child {
      grid-area: top;
    }

    .instructionBlock:nth-child(2) {
      grid-area: left;
    }

    .instructionBlock:nth-child(3) {
      grid-area: right;
    }

    .instructionBlock:nth-child(4) {
      grid-area: right2;
    }
  }
}