@import "@assets/styles/global";

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 100px;

  .main {
    display: flex;
    flex-direction: column;
    gap: 100px;
    flex-grow: 3;

    .validateContent {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}