@import "@assets/styles/global";

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 799px;
  flex-grow: 3;
  justify-content: center;

  .buttonsInteractive {
    display: flex;
    align-items: center;
    gap: 30px;

    .pageCounter {
      color: rgba(23, 23, 27, 0.5);
    }
  }

  .description {
    font-size: 24px;
    color: $black_2;
  }

  .listValues {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}