@import '@assets/styles/global';

.wrapper {
  width: 20px;
  height: 20px;
  border: 1px solid $blue;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding-right: 3px;
  padding-bottom: 3px;

  .active {
    width: 100%;
    height: 100%;
    background: #6698FF;
    border-radius: 50%;
    opacity: 1;
    transition: .3s;
  }

  .deactivated {
    width: 100%;
    height: 100%;
    background: #6698FF;
    border-radius: 50%;
    opacity: 0;
    transition: .3s;
  }
}