@import "@assets/styles/global";

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;

  .title {
    font-size: 32px;
    line-height: 42px;
    color: $black;
  }

  .listTeachers {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    .teacherBlock {
      width: 100%;
      height: 450px;
      border-radius: 30px;
      overflow: hidden;
      padding: 30px;

      background-size: cover;
      display: flex;
      align-items: flex-end;

      &Info {
        width: 100%;
        height: auto;
        padding: 13px 20px;

        display: flex;
        flex-direction: column;
        gap: 10px;
        background: $white;
        border-radius: 10px;

        .name {
          color: $black;
        }

        .profile {
          font-size: 18px;
          color: $black;
        }
      }
    }
  }
}