@import "@assets/styles/global";

.wrapper {
  display: flex;
  align-items: center;
  gap: 30px;

  .textContent {
    display: flex;
    flex-direction: column;
    gap: 5px;

    h3 {
      font-weight: 500;
      font-size: 32px;
      line-height: 42px;
      color: $black;
    }

    p {
      font-size: 24px;
      line-height: 31px;
      color: $grey_2;
    }
  }
}