@import '@assets/styles/global';

.wrapper {
  padding: 50px;
  width: 100%;
  height: auto;
  background: $white_2;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  gap: 40px;

  .title {
    font-weight: 500;
    font-size: 32px;
  }

  .listCards {
    display: flex;
    flex-direction: column;
    gap: 35px;

    .cardBlock {
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      padding-bottom: 35px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &:nth-last-child(1) {
        border: none;
        padding: 0;
      }

      .leftSideContent {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .professionalName {
          font-size: 24px;
        }

        .professionalDescription {
          font-size: 20px;
          color: rgba(23, 23, 27, 0.5);
        }
      }

      .price{
        font-weight: 500;
        font-size: 32px;
      }
    }
  }
}