.switcher {
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .textSwitch {
    font-size: 20px;
    line-height: 26px;
    color: rgba(23, 23, 27, 0.5);
  }
}