@import '@assets/styles/global';

.consultation {
  width: 100%;
  height: 100%;
  padding: 40px;

  background: $white_2;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;

  .inputsTemplate {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    button {
      width: 100%;
    }
  }

  .title {
    font-size: 24px;
  }
}

.wrapper {
  width: 100%;
  height: 400px;

  background: $white_2;
  border-radius: 50px;
  padding: 0 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .textContent{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: $black;
    width: 45%;

    .preTitle {
      font-size: 24px;
      line-height: 31px;
    }

    .title {
      font-size: 40px;
      line-height: 52px;
    }

    .description {
      font-size: 18px;
      line-height: 23px;
    }
  }

  .briefContent {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .gridTemplate {
      display: grid;
      grid-template-columns: .2fr 1fr;
      grid-template-rows: .2fr 1fr;
      gap: 20px;
      grid-template-areas:
    "name name"
    "phone email";

      input {

        &:nth-child(1) {
          grid-area: name;
        }

        &:nth-child(2) {
          grid-area: phone;
        }

        &:nth-child(3) {
          grid-area: email;
        }
      }
    }

    .sendData {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      gap: 25px;
      button {
        width: 11em;
      }
    }
  }
}

.info {
  font-size: 14px;
  line-height: 18px;
  color: rgba(23, 23, 27, 0.5);

  a {
    text-decoration: underline;
  }
}