@import '@assets/styles/global';


.contentGuidance {
  display: flex;
  flex-direction: column;
  gap: 30px;

  .textCareerGuidance {
    display: flex;
    flex-direction: column;
    gap: 20px;

    h2 {
      font-weight: 500;
      font-size: 48px;
    }

    p {
      font-size: 24px;
      line-height: 31px;

      span {
        color: $blue;
        cursor: pointer;
        transition: .3s;

        &:hover {
          opacity: .3;
        }
      }
    }
  }
}

.profileCourseBlock {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $white_2;
  border-radius: 50px;
  overflow: hidden;

  position: relative;

  .deactivatedCourseSide {
    padding: 50px;
    height: 364px;
    display: flex;
    align-items: center;

    &Content {
      padding: 14.5px 20px;
      background: $white;
      transition: .3s;
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 20px;
      border-radius: 50px;

      &:hover {
        background: $blue;

        color: $white;

        svg {
          path {
            fill: $white;
          }
        }
      }
    }

    svg, path {
      transition: .3s;
    }
  }
}

.isCourseHave {

}
