@import '@assets/styles/global';

.wrapper {
  flex-grow: 3;
  max-width: 100vw !important;
  width: 100vw;
  margin: 0;
  height: 100vh;

  .content {
    padding: 0;
    flex-grow: 3;
    display: flex;
    justify-content: space-between;

    .modalInfo {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 20px;
      width: 627px;

      h3 {
        font-weight: 500;
        font-size: 48px;
        line-height: 62px;
        color: $black_2;
      }

      .description {
        font-weight: 400;
        font-size: 28px;
        line-height: 140%;
        color: $black_2;
      }

      .buttonContent {
        display: flex;
        align-items: center;
        gap: 20px;

        button {
          padding: 22px 94px !important;
        }

        .close {
          padding: 13px 20px;
          border-radius: 50px;
          background: $white_2;
          cursor: pointer;
          transition: .3s;

          svg {
            line {
              transition: .3s;
            }
          }

          &:hover {
            background: $error;

            svg {
              line {
                stroke: white;
              }
            }
          }
        }
      }
    }
  }
}