.wrapper {
  overflow: hidden;
  position: relative;

  svg {
    cursor: default;
    pointer-events: none;
  }

  img {
    z-index: 0;
  }

  .filter {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
    opacity: 0;
    transition: .3s;
    pointer-events: none;

    svg {
      width: 24px;
      height: 24px;

      path {
        stroke: white;
      }
      circle {
        stroke: white;
      }
    }
  }
}

.x50 {
  width: 50px;
  height: 50px;
}

.x120 {
  width: 120px;
  height: 120px;
}

.change {
  cursor: pointer;
  &:hover {
    .filter {
      opacity: 1;
    }
  }
}

.pointer{
  cursor: pointer;
}