@import '@assets/styles/global';

.wrapper {
  padding: 50px;
  background: $white_2;
  border-radius: 50px;
  display: flex;
  justify-content: space-between;

  .textContent {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 35%;

    .title {
      font-weight: 500;
      font-size: 24px;
      line-height: 31px;

      color: $black;
    }

    .description {
      font-size: 20px;
      color: $grey_2;
    }
  }

  .listFields {
    display: flex;
    flex-direction: column;
    gap: 20px;

    button {
      width: 100%;
      height: 67px;
      background: $grey;
      font-size: 18px;
      line-height: 23px;
      text-align: center;
      justify-content: center;
      align-items: center;
      display: flex;

      &:hover {
        background: $blue;
      }
    }

    .fieldBlock {
      display: flex;
      flex-direction: column;
      position: relative;

      .error{
        overflow: hidden;
        font-size: 16px;
        line-height: 21px;
        margin-top: 5px;

        color: $error;
      }

      label {
        font-size: 18px;
        line-height: 23px;
        margin-bottom: 10px;

        color: $grey_2;
      }

      .field {
        width: 550px;
        height: 67px;

        background: #FFFFFF;
        border: 1px solid rgba(23, 23, 27, 0.2);
        border-radius: 10px;
        padding: 0 20px;
      }
    }
  }
}