@import '@assets/styles/global';

.wrapper {
  min-width: 177px !important;
  height: 67px !important;
  border: 1px solid rgba(23, 23, 27, 0.2) !important;
  background: $white !important;
  font-size: 18px;
  line-height: 23px;
  color: $black;

  &::placeholder {
    color: rgba(23, 23, 27, 0.5);
  }

  &:focus {
    background: $white_2;
    border: 1px solid rgba(23, 23, 27, 0.2);
  }
}