.wrapper {
  display: flex;
  flex-direction: column;
  gap: 50px;

  .title {
    font-weight: 500;
    font-size: 32px;
  }

  .listCards {
    display: flex;
    align-items: center;
    gap: 25px;

    .cardBlock {
      width: 100%;
      height: 385px;
      padding: 40px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 50px;
      justify-content: flex-end;

      .title {
        font-size: 32px;
      }

      .description {
        font-size: 24px;
        line-height: 140%;
        color: rgba(23, 23, 27, 0.7);
      }
    }
  }
}