@import "@assets/styles/global";

.wrapper {
  width: 100%;
  padding: 40px 50px;
  background: $white_2;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-bottom: 100px;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .socials{
      display: flex;
      align-items: center;
      gap: 20px;
    }
  }

  .main {
    display: flex;
    justify-content: space-between;
    gap: 100px;


    .listPaths {
      display: flex;
      justify-content: space-between;
      flex-grow: 3;

      ul {
        width: 150px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        list-style-type: none;

        .titleNav {
          font-size: 20px;
          line-height: 26px;
          color: $black;
        }

        li {
          color: rgba(0, 0, 0, 0.5);
          font-size: 14px;
        }
      }
    }

    .contacts {
      display: flex;
      flex-direction: column;
      gap: 30px;

      .managerContact {
        display: flex;
        flex-direction: column;
        gap: 10px;

        &Header {
          display: flex;
          align-items: center;
          gap: 15px;

          h3 {
            font-size: 20px;
            color: $black;
          }
        }

        &Link {
          a {
            cursor: pointer;
            color: #6698FF;
            transition: .3s;
            font-weight: 400;

            &:hover {

              text-decoration-line: underline;
            }
          }
        }
      }

      .mainContacts{
        display: flex;
        flex-direction: column;
        gap: 10px;

        .phone {
          font-size: 20px;
          color: #000000;
        }

        .contactCenter {
          font-size: 16px;
          color: #000000;
        }
      }
    }
  }

  .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .copyright {
      color: rgba(0, 0, 0, 0.5);
    }

    .navigation {
      ul {
        display: flex;
        align-items: center;
        gap: 20px;
        list-style-type: none;

        color: $blue;

      li {
        cursor: pointer;
        transition: .3s;
      }
      }
    }
  }
}