@import '@assets/styles/global';

.titleWrapper {
  font-weight: 500;
  font-size: 32px;
}

.wrapperSlider {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.slider {
  display: flex;
  align-items: center;
  gap: 20px;

  .contentImage {
    background: $blue;
    border-radius: 50px;
    overflow: hidden;
    width: 60%;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      min-height: 483px;

    }
  }

  .mainContent {
    padding: 40px;
    width: 40%;
    background: $white_2;
    border-radius: 50px;
    height: 483px;
    display: flex;
    flex-direction: column;


    &Text {
      display: flex;
      flex-direction: column;
      gap: 15px;
      h5 {
        font-weight: 500;
        font-size: 24px;
      }

      p {
        font-size: 16px;
      }
    }

    .sliderUpdater {
      margin-top: auto;
    }
  }
}