@import '@assets/styles/global';

.wrapper {
  display: flex;
  align-items: center;
  gap: 34px;

  .contentPrices {
    padding: 40px;
    border: 1px solid rgba(23, 23, 27, 0.5);
    border-radius: 50px;
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .textContent {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .title {
        font-weight: 500;
        font-size: 48px;
      }

      .description {
        font-size: 20px;
        color: rgba(23, 23, 27, 0.5);
      }
    }

    .listPrices {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .priceBlock {
        width: 100%;
        height: 162px;
        border-radius: 50px;
        background: $white_2;
        padding: 37px 50px;

        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        transition: .3s;

        &:hover {
          opacity: .6;
        }

        .text {
          font-size: 24px;
        }

        .moneyComplex {
          display: flex;
          flex-direction: column;
          text-align: right;

          .actionPrice {
            opacity: .5;
            text-decoration: line-through;

            span {
              font-size: 20px;
              opacity: .5;
            }
          }

          .mainPrice {
            font-weight: 500;
            font-size: 48px;

            span {
              font-size: 20px;
              opacity: .5;
            }
          }
        }
      }

      .priceBlockInstallment {
        color: white;
        background: $blue;
      }

      .action {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 25px;

        padding: 30px;
        background: $orange;

        .title {
          font-size: 20px;
        }

        .actionValue {
          font-weight: 500;
          font-size: 32px;
        }
      }
    }

    .promoSide {
      margin-top: 14px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .startTag {
      display: flex;
      .content {
        padding: 15px 30px;
        font-size: 20px;
        color: $white;
        background: $blue;
        border-radius: 50px;
      }
    }
  }

  .brief {
    width: 40%;
    height: 100%;
  }
}