@import "@assets/styles/global";

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;

  .title {
    font-size: 36px;
    line-height: 47px;

    color: $black;
  }

  .listMaterials {
    display: flex;
    gap: 20px 1%;
    flex-wrap: wrap;
    justify-content: space-between;

    .materialBlock {
      padding: 50px;
      display: flex;
      flex-direction: column;
      width: 49%;
      gap: 10px;
      background: $white_2;
      border-radius: 50px;
      height: 600px;
      padding-right: 89px;

      &Button {
        margin-top: auto;
      }

      &Title {
        font-size: 32px;
        line-height: 42px;
        color: $black;
      }

      &Type {
        color: rgba(23, 23, 27, 0.7);
        font-size: 24px;
      }
    }
  }
}