@import '@assets/styles/global';

.wrapper {
  width: 100%;
  height: 400px;
  background: $orange;

  border-radius: 50px;
  padding: 60px;
  padding-right: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .imageCareer {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 0;
    pointer-events: none;
  }

  .textContent {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 488px;
    z-index: 1;
    position: relative;

    .description {
      font-size: 24px;
      line-height: 31px;

      color: $black;
    }

    .title {
      font-size: 40px;
      line-height: 52px;

      color: $black;
    }
  }
}