@import "@assets/styles/global";

.wrapper {
  height: 400px;
  background: $blue;
  border-radius: 50px;
  overflow: hidden;
  position: relative;

  .offerPattern{
    position: absolute;
    right: 0;
    top: 0;
  }

  .content {
    padding: 60px;
    display: flex;
    justify-content: space-between;
    height: 100%;

    .description {
      color: $white;
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 488px;
      height: 100%;

      button {
        margin-top: auto;
      }

      .preTitle {
        font-size: 24px;
        line-height: 31px;
      }

      .title {
        font-size: 40px;
        line-height: 52px;
      }
    }

    .timer {
      padding: 15px 30px;
      font-size: 20px;
      line-height: 26px;

      background: $white;
      border-radius: 50px;
    }
  }
}