@import '@assets/styles/global';

.wrapper {
  display: flex;
  //align-items: center;
  gap: 10px;
  transition: .3s;
  background: $white_2;
  color: $black;
  z-index: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .3s;

  svg {
    path {
      stroke: $black;
      transition: .3s;
    }
  }

  &:hover {
    background: $blue;
    color: $white;

    svg {
      path {
        stroke: $white;
      }
    }
  }
}

.smallButton {
  padding: 14.5px 20px;
  border-radius: 50px;


  .text {
    font-size: 16px;
  }
}

.mediumButton {
  padding: 22px 30px;
  border-radius: 10px;

  .text {
    font-size: 18px;
  }
}

.arrowRightDirection {
  svg {
    transform: rotate(-90deg);
  }
}

.arrowLeftDirection {
  svg {
    transform: rotate(90deg);
  }
}

.arrowTopDirection {
  svg {
    transform: rotate(180deg);
  }
}

.grey {
  background: $grey;
}

.orangeHover {
  &:hover {
    background: $orange;

    color: $black;
  }
}

.disabled {
  transition: .3s;
  pointer-events: none;
  opacity: .3;
}

.blue {
  background: $blue;
  color: $white;
}

.white {
  background: $white;
  color: $black;
}