
.wrapper {
  display: flex;
  flex-direction: column;
  gap: 100px;

  .profileContent {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  .headerContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}