.layout {

}

.fixed {
  position: fixed;
  z-index: 1;
}

.wrapper {
  display: flex;
  align-items: center;
  padding-top: 50px;
  justify-content: space-between;

  .leftContent{
    display: flex;
    align-items: center;
    gap: 50px;

    a {
      cursor: pointer;
      transition: .3s;

      &:hover {
        opacity: .6;
      }
    }
  }
  .rightContent {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}