@import '@assets/styles/global';

.avatar {
  width: 50px;
  height: 50px;
}

.listMenu {
  padding: 20px !important;
  background: #FFFFFF;
  border: none !important;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.05) !important;
  border-radius: 20px !important;

  .info{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;

    .textContent {
      display: flex;
      flex-direction: column;
      gap: 5px;

      h5 {
        font-size: 18px;
        line-height: 23px;

        color: $black;
      }

      p {
        font-size: 16px;
        line-height: 21px;
        color: rgba(23, 23, 27, 0.5);
      }
    }
  }

  .listLinks {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 10px;

    .linkBlock {
      padding: 14.5px 20px;
      cursor: pointer;
      transition: .3s;
      border-radius: 50px;

      font-size: 16px;
      line-height: 21px;
      color: $black;

      &:hover {
        background: $white_2;
      }
    }
  }
}