@import '@assets/styles/global.scss';

.wrapper {
  overflow: hidden;

  .title {
    font-weight: 400;
    font-size: 30px;
    line-height: 39px;
    width: 1274px;
    margin: 0 auto;
    color: $black;
  }

  .listReviews {
    display: flex;
    flex-direction: column;
    gap: 40px;
    user-select: none;

    .reviewBlock {
      padding: 30px;
      background: $white_2;
      border-radius: 30px;
      width: 617px;
      display: flex;
      flex-direction: column;
      gap: 25px;
      justify-content: space-between;

      .userSide {
        display: flex;
        align-items: center;
        gap: 20px;

        .avatar {
          width: 80px;
          height: 80px;

          div {
            font-size: 27px;
          }
        }

        .textContent {
          display: flex;
          flex-direction: column;
          gap: 5px;

          h3 {
            font-size: 24px;
            line-height: 31px;

            color: $black
          }

          p {
            font-size: 18px;
            line-height: 23px;
            color: rgba(23, 23, 27, 0.5);
          }
        }
      }

      .description {
        font-size: 18px;
        color: rgba(23, 23, 27, 0.8);
      }

      .listRescources {
        display: flex;
        align-items: center;
        gap: 25px;
      }
    }
  }
}