.wrapper {
  display: flex;
  gap: 50px 20px;
  flex-wrap: wrap;
  justify-content: space-between;

  .advantageBlock {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    width: 48%;

    svg {
      width: 50px;
      height: 50px;

      stroke-width: 1px;
    }

    p {
      font-size: 24px;
    }
  }
}