@import '@assets/styles/global.scss';

.wrapper {

  .title {
    font-weight: 400;
    font-size: 30px;
    line-height: 39px;
    width: 100%;
    margin: 0 auto;
    color: $black;
  }

  .listPathways {
    display: flex;
    flex-direction: column;
    gap: 40px;

    .pathwayBlock {
      flex-shrink: 0;
      width: 400px;
      height: 200px;
      padding: 30px;
      background: $white_2;
      border-radius: 20px;
      display: flex;
      align-items: flex-end;
      transition: .3s;
      justify-content: space-between;
      cursor: pointer;

      svg {
        polyline {
          transition: .3s;
        }
      }

      &:hover {
        background: $blue;

        .titleContent {
          .title {
            color: $white;
          }

          h6 {
            color: $white;
          }

          .term {
            color: rgba(255, 255, 255, 0.7);
          }
        }

        button {
          background: $blue_2;

          svg {
            polyline {
              stroke: $white;
            }
          }
        }
      }

      .titleContent {
        display: flex;
        flex-direction: column;
        height: 100%;
        gap: 15px;

        h6 {
          transition: .3s;
        }

        .title {
          font-size: 24px;
          line-height: 31px;
          transition: .3s;
          width: auto;
        }

        .term {
          margin-top: auto;
          color: rgba(23, 23, 27, 0.7);
          transition: .3s;
        }
      }
    }
  }
}