.wrapper {
  min-height: 100vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
  gap: 100px;
  position: relative;
  align-items: center;

  main {
    flex-grow: 3;
    position: relative;

    .headerContent {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}

.layout{
  display: flex;
  flex-direction: column;
}