@import '@assets/styles/global';

.titleWrapper {
  font-weight: 500;
  font-size: 32px;
}

.descriptionWrapper {
  font-size: 28px;
  width: 100%;
}


.list {
  padding: 100px 0;
  background: $white_2;
  display: flex;
  flex-direction: column;
  gap: 50px;

  &Content {
    display: flex;
    flex-direction: column;
    gap: 50px;

    .textContentWrapper {
      display: flex;
      flex-direction: column;
      gap: 30px;
    }
  }
}

.accordion {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &Item {
    padding: 60px;
    border: none;
    background: #FFFFFF;
    border-radius: 50px;

    &Header {
      width: 100%;

      .accordionButton {
        opacity: 1 !important;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        cursor: pointer !important;

        &:hover {
          background: none !important;
          .titleAccordion {
            opacity: .6;
          }

          .contentAccordionButton {
            .accordionItemIcon {
              background: $blue;
              svg {
                path {
                  fill: white;
                }
              }
            }
          }
        }

        .titleAccordion {
          font-weight: 400;
          font-size: 32px;
          line-height: 42px;
          transition: .3s;
        }

        .contentAccordionButton {
          display: flex;
          align-items: center;
          gap: 20px;

          .accordionItemIcon {
            transition: .3s;
            padding: 13px 20px;
            background: $white_2;
            border-radius: 50px;

            svg, path {
              transition: .3s;
            }
          }

          .accordionVideo {
            padding: 13px 20px;
            background: $blue;
            display: flex;
            align-items: center;
            gap: 10px;
            color: $white;
            border-radius: 50px;

            svg {
              width: 24px;
              height: 24px;

              circle, polygon {
                stroke: white;
              }
            }
          }
        }

        .contentAccordionButtonActive {
          .accordionItemIcon {
            background: $blue;
            svg {
              path {
                fill: white;
              }
            }
          }
        }
      }

      .accordionButtonDisabled {
        cursor: default !important;

        &:hover {
          background: none !important;

          .titleAccordion {
            opacity: 1;
          }
        }
      }
    }

    .listContentPanel{
      margin-top: 30px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding-left: 20px;
      position: relative;

      li {
        font-size: 24px;
        list-style-type: none;
        position: relative;

        &:before {
          content: '';
          position: absolute;
          left: -20px;
          top: 0;
          bottom: 0;
          margin: auto;
          width: 10px;
          height: 10px;
          background: rgba(0, 0, 0, 0.1);
          border-radius: 50%;
        }
      }
    }

    .video {
      width: 100%;
      height: 500px;
      background: $white_2;
      border-radius: 50px;
      margin-top: 30px;
    }
  }
}