@import "@assets/styles/global";

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  flex-grow: 3;

  h4 {
    font-size: 24px;
    line-height: 31px;

    color: $black;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 30px;

    .sendRequest {
      width: 100%;

      button {
        width: 100%;
      }
    }
  }

  .switcher {
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .textSwitch {
      font-size: 20px;
      line-height: 26px;
      color: rgba(23, 23, 27, 0.5);
    }
  }
}